body {
    background-color: #f8f8f8;
}

.schet {
    font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
    margin-left: 300px;
    font-size: 20px;
}

.list {
    line-height: 1.8;
    margin-bottom:1em;
}

