.container {
    margin: 0px 160px;
}

.header-line {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header-logo {
    margin-right:50px; 
}


.navigation-item {
    font-family: "RobotoRegular", Helvetica, Arial, sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 25px;
    transition: color 0.2s linear;
}

.navigation-item:hover {
    color: #0fc3f5;
}

.hr {
    color:#000;
}